    <!-- start about -->
<div class="parallaxa"></div>
<body class="aboutnav">
    <div id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-12 col-sm-12 wow fadeInLeft" data-wow-delay='0.4s' style="padding-top:100px;">
            <%= image_tag("apib.png", class: "img-responsive", alt: "about img")%>
          </div>
          <div class="col-md-6 col-sm-6 wow fadeInLeft" data-wow-delay="0.4s">
            <h3>Chelsea Framing Products</h3>

            <h4>Moulding, line trends, styles, highest quality frame</h4>

            <p>Chelsea Framing Products is a moulding distribution company located in Lake Zurich, IL, (Chicago). For the better part of 15 years, we have been offering high quality mouldings, produced in Korea, at cost-competitive pricing.
              Operating a second distribution warehouse located in Gardena, CA (Los Angeles), we are able to reach our customer base more flexibly, while assisting with the burden of freight.</p>
            <p><br />We take pride in working with our customers, focusing on our ability to deliver value beyond the product in ways to help maintain our customers' competitive advantage in the market place.
              We value all of our business and continue to strive to be the premier moulding provider.</p>
              <hr>
        </div>
      </div>
    </div>
  </div>
</body>
<!-- end about -->
