    <!-- start about -->
    <div id="about">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-sm-6 wow fadeInLeft" data-wow-delay="0.4s">
            <h3>Chelsea Framing Products</h3>
            <h4>Moulding, line trends, styles, highest quality frame</h4>
            <p>Chelsea Framing Products is new polystyrene moulding distribution company.</br>The company has exclusive distributionship from a leading polystyrene manufacturer in Korea. Our goal is to bring our customers the highest quality polystyrene moulding
            at an affordable price-point. Our company has a strong product development team working on bringing new trends and finishes to the largest collections. Our warehouse is centrally located in lake Zurich, Illinois.</p>
        </div>
        <div class="col-md-6 col-sm-6 wow fadeInLeft" data-wow-delay='0.4s' style="padding-top: 100px">
          <%= image_tag("aboutus.jpg", class: "img-responsive", alt: "about img")%>
        </div>
      </div>
    </div>
  </div>
<!-- end about -->
