  <!-- start google map - ->
  <div class="google_map" style="padding-top: 65px;">
    <div id="map"></div>
  </div>
  <!- - end google map -->


<!-- embed map - ->
  https://www.google.com/maps/embed/v1/place
  ?key=YOUR_API_KEY
  &q=Eiffel+Tower,Paris+France -->
  <!-- start contact -->
  <div id="contact2">
    <div class="container" style="padding-top: 85px">
      <div class="row">
        <div class="col-md-3 col-sm-4 wow fadeInIn" data-wow-delay="0.3s">
          <h2>
            <div class="background">
            <strong>Chelsea Framing Products Inc.</strong>
            </div>
          </h2>
        </div>
        <div class="col-md-3 col-sm-4 wow fadeIn" data-wow-delay="0.3s">
          <address>
            <h3>Visit Office</h3>
            <p>
              <i class="fa fa-map-marker too-icon"></i>
              333 Enterprise Pkwy, Lake Zurich</p>
            <p>
              <i class="fa fa-phone too-icon"></i>
              Order & Customer Service:</br>
          </p>
          <p class="indented" style="padding-left: 65pt;">800-866-5431</br>
        </p>
        <p class="indented">Office: 847-550-5556
        </p>
        <p>
          <i class="fa fa-envelope-o too-icon"></i>
          <%= mail_to "sales@chelseaframingproducts.com"%>
        </p>
      </address>
    </div>
    <form action="#" method="post" class="col-md-6 col-sm-4" id="contact-form" role="form">
      <div class="col-md-6 col-sm-12 wow fadeIn" data-wow-delay="0.3s">
        <input name="name" type="text" class="form-control" id="name" placeholder="Name">
      </div>
      <div class="col-md-6 col-sm-12 wow fadeIn" data-wow-delay="0.3s">
        <input name="email" type="email" class="form-control" id="email" placeholder="Email">
      </div>
      <div class="col-md-12 col-sm-12 wow fadeIn" data-wow-delay="0.3s">
        <textarea name="message" rows="5" class="form-control" id="message" placeholder="Message"></textarea>
      </div>
      <div class="col-md-offset-9 col-md-3 col-sm-6 wow fadeIn" data-wow-delay="0.3s">
        <input name="submit" type="submit" class="form-control" id="submit" value="Send">
      </div>
    </form>
  </div>
</div>
</div>
<!-- end contact -->

<!-- Google Map place mode -->

<iframe
  width="100%"
  height="320"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDY38H8iOF9OI46C-QMvnh9DADCzKbik8k
    &q=place_id:ChIJby_IcxCiD4gRLrBgFU2dufU" allowfullscreen>
</iframe>


<!-- Google Map Satellite Mode -->

  <!-- <iframe
    width="100%"
    height="320"
    frameborder="0" style="border:0"
    src="https://www.google.com/maps/embed/v1/view?key=AIzaSyDY38H8iOF9OI46C-QMvnh9DADCzKbik8k
      &center=42.209170,-88.078955&zoom=17&maptype=satellite" allowfullscreen>
  </iframe> -->

<!--API: key=AIzaSyDY38H8iOF9OI46C-QMvnh9DADCzKbik8k-->
