<!-- start footer -->
<footer>
  <div class="container">
    <div class="row">
      <p>&copy; 2019 CHELSEA Framing Products Inc. All rights reserved.
      </br> </p>

      <p class="text">Need assistance? Call us at 847-550-5556</p>
    </div>
  </div>
</footer>
<!-- end footer -->
